@page
@model LoginApplication.Pages.StocksModel
@{
}

<table class="table mt-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Selling Price</th>
            <th>Qty</th>
            <th>Branch Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stock in Model.Stocks)
        {
            <tr>
                <td>@stock.Id</td>
                <td>@stock.Name</td>
                <td>@stock.Price</td>
                <td>@stock.SellingPrice</td>
                <td>@stock.Qty</td>
                <td>@stock.Branch</td>
                <td>
                    <a asp-area="" asp-page="/EditPrice" asp-route-id="@stock.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>